<!DOCTYPE html>
<html lang = "en">
    <head>
        <title> ResuMatch | Customize Your Resumes in Seconds To Get Past ATS! </title>
        <!-- link CSS stylesheet here -->
        <script src = "../static/js/scripts.js" async></script> <!--might need to change to defer if multiple scripts to be sourced later-->
    </head>
    <body>
        <div style = "text-align: right;"> <!--temporary in tag styling, this should be in CSS stylesheet-->
            <button id = "LoginSignup">...</button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div style = "text-align: center;">
            <h1>
            Tired of constantly getting "Thank you for considering us, unfortunately..." in  your inbox?
            </h1>
            <p>
                <em>Get your resume expertly tailored to pass ATS so your inbox starts raining interview offers!</em>
            </p>
            <br>
            <br>
            <button id = "GetStarted">Get Started</button>
        </div>
    </body>
</html>